<!-- <p>dashboard works!</p> -->


<!-- <input type='text' [(ngModel)]='search' placeholder="search over 151+ cards" style="color: aliceblue;">

<button type='submit' (click)=getAllCard() style="color: aliceblue;"> Search </button>

<div class='pokemon_grid'>
    <div class="box" *ngFor="let card of name " (click)="getAllCard()">
        <div class="box1" style="color: white; text-align: center; border: white;">
            <img [src]="card.imageUrl" alt="Pokemon card " style="justify-content: center;">
            Pokemon:{{card.name}}
            <div class="box" style="color: white; text-align: center; border: white;">
                Artist:{{card.artist}}

            </div>
        </div>
    </div>
</div> -->

<!-- <app-info [item]="name"></app-info> -->